
[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=kmf_import_dvdauthor_xml.py
GenericName=Import DVDAuthor XML
GenericName[en_US]=Import DVDAuthor XML
Icon=application-x-cd-image
MimeType=
Name=Import DVDAuthor
Name[en_US]=Import DVDAuthor
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KMF-MediaMenu=true
