[Desktop Entry]
Name=KMFImportDV
Comment=Import DV Video plugin for KMediaFactory
ServiceTypes=KMediaFactory/Plugin
Type=Service
X-KDE-Library=kmediafactory_dvimport
